@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$red-palette,
        tertiary: mat.$yellow-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
