@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  margin: 0;
  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

.mdc-notched-outline__notch {
  border-right: none;
}
